
//
// VARIABLES
//

// Colors
$primary-color: #007500;
$secondary-color: #666;
$background-color: #fff;
$primary-font-color: #333;
$secondary-font-color: #eee;
$selection-font-color: #000;
$heading-font-color: #222;


// Font stacks
$raleway: "Raleway", sans-serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
